# Database Credentials
DB_URL=jdbc:postgresql://localhost:5432/your-database
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT Configuration
JWT_SECRET=csaasdasdsadadsdas=
JWT_EXPIRATION=36000
REFRESH_TOKEN_EXPIRATION=604800

# Super Admin Secret
SUPER_ADMIN_SECRET=OnePieceIsOverRated

# Midtrans API Keys
MIDTRANS_SERVER_KEY=Your-Midtrans-Server-Key
MIDTRANS_CLIENT_KEY=Your-Midtrans-Client-Key

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=Your-Cloudinary-Name
CLOUDINARY_API_KEY=Your-Cloudinary-API-Key
CLOUDINARY_API_SECRET=Your-Cloudinary-API-Secret
